* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

header {
  font-family: sans-serif;
  width: 100%;
  height: 80px;
  margin-left: 0px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  justify-content: center;
}

.header-wrapper {
  height: 100%;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
}

.primodiv {
  display: flex;
  align-items: center;
  gap: 20px;
}

.secondodiv {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuinizia {
  padding: 10px;
  background-color: #2461FE;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.jumbo{
  background-color: #B4CFE6;
}

h1 {
  font-family: Impact, sans-serif;
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 90px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
}

.col-40{
  width: 40%;

}

.col-60{
  width: 60%;
}